body {
	background: url('/COTO/static/img/bg1.jpg')  no-repeat;
	background-size: 100% 100%;
}

#mask {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: #000;
	opacity: 0.4;
	z-index: -1;
}