:local(.card) {
	width: 260px;
	padding: 5px;
	margin-bottom: 8px;
	background: #FFF;
	border-radius: 5px;
	overflow: hidden;
	font-size: 14px;
	cursor: pointer;

	:local(.tag) {
		margin-bottom: 3px;
		overflow: hidden;
		.tag {
			float: left;
			width: 40px;
			height: 7px;
			margin-left: 3px;
			border-radius: 3px;

			&.tag-red {
				background: #f08080;
			}
			&.tag-blue {
				background: #6495ed;
			}
			&.tag-yellow {
				background: #ffd700;
			}
		}
	}

	:local(.title) {
		padding-left: 2px;
	}

	:local(.hint) {
		float: left;
	}

	:local(.member) {
		img {
			float: right;
			width: 35px;
			height: 35px;
			margin-left: 3px;
			border: 1px #aaa solid;
			border-radius: 2px;
		}
	}
}