:local(.card) {
	position: relative;
	width: 260px;
	padding: 5px;
	margin-bottom: 8px;
	background: #FFF;
	border-radius: 5px;
	overflow: hidden;
	font-size: 14px;
	cursor: pointer;
	box-shadow: 1px 1px 1px 1px #777;
	&:hover {
		background: #ddd;
	}

	:local(.tag) {
		margin-bottom: 3px;
		overflow: hidden;
		.tag {
			float: left;
			width: 40px;
			height: 7px;
			margin-left: 3px;
			border-radius: 3px;

			&.tag-red {
				 background: #eb5a46;
			 }
			&.tag-blue {
				 background: #0079bf;
			 }
			&.tag-yellow {
				 background: #f2d600;
			 }
			&.tag-green {
				 background: #61bd4f;
			 }
			&.tag-orange {
				 background: #df9540;
			 }
			&.tag-purple {
				 background: #c377e0;
			 }
			&.tag-pink {
				 background: #ff80ce;
			 }
			&.tag-black {
				 background: #4d4d4d;
			 }
		}
	}

	:local(.control) {
		position: absolute;
		top: 3px;
		right: 5px;
		color: #ccc;
		i {
			cursor: pointer;
			&:hover {
				color: #aaa;
			}
		}
	}

	:local(.content) {
		overflow: hidden;
	}

	:local(.title) {
		padding-left: 2px;
		white-space: pre-line;
	}

	:local(.hint) {
		float: left;
		overflow: hidden;
		& > div {
			float: left;
			margin: 2px 5px;
			font-size: 14px;
			color: #9a9a9a;
		}
		i {
			margin-right: 2px;
		}
	}

	:local(.member) {
		float: right;
		img {
			float: right;
			width: 35px;
			height: 35px;
			margin-left: 3px;
			border: 1px #aaa solid;
			border-radius: 2px;
		}
	}
}