:local(.board) {
	font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif;

	:local(.title) {
		color: #fff;
		padding: 10px 0 10px 20px;
		margin-bottom: 10px;
	}

	:local(.content) {
		padding: 10px;
		overflow: hidden;
	}

	:local(.new) {
		float: left;
		width: 280px;
		padding: 8px;
		font-size: 16px;
		margin-left: 10px;
		cursor: pointer;
		border-radius: 5px;
		background: #000;
		color: #fff;
		opacity: 0.4;
		&:hover {
			opacity: 0.7;
		}
	}

	:local(.icon) {
		font-size: 12px;
		font-weight: bold;
		margin-right: 5px;
		color: #32cd32;
	}
}